#!/bin/sh
#
# DON'T EDIT THIS!
#
# CodeCrafters uses this file to test your code. Don't make any changes here!
#
# DON'T EDIT THIS!

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Despite codecrafters warnings not to edit this file, adding this line so streamlit cloud works.
# If I ever want to submit this to codecrafters, may need to remove this line.
lox = {editable = true, path = "./lox"}

[dev-packages]

[requires]
python_version = "3"
